version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

      - add_ssh_keys:
          fingerprints:
            - "SHA256:gLU0U5XVoxUOCCEIp8UNV90vweATx/PcNcUEijfP+n4"

      - run:
          name: Deploy to EC2
          command: |
            ssh -o StrictHostKeyChecking=no ubuntu@100.54.200.78 "cd ExampleApplication && ./deploy.sh"

workflows:
  version: 2
  deploy_workflow:
    jobs:
      - deploy
